In [36]:

import os
import shutil
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
import numpy as np
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics
from math import sqrt
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import RFE
from sklearn import linear_model
from sklearn.linear_model import Lasso
from tpot import TPOTRegressor
from operator import itemgetter, attrgetter
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
%matplotlib inline
pd.options.display.max_columns = 45
pd.options.display.max_rows = 70

In [3]:

data = pd.read_csv("datapart2/historical_data1_Q12005.txt",sep="|",header=None)
data.columns = ["CREDIT SCORE","FIRST PAYMENT DATE","FIRST TIME HOMEBUYER FLAG","MATURITY DATE","METROPOLITAN STATISTICAL AREA",
               "MORTGAGE INSURANCE PERCENTAGE","NUMBER OF UNITS","OCCUPANCY STATUS","ORIGINAL COMBINED LOAN-TO-VALU","ORIGINAL DEBT-TO-INCOME (DTI) RATIO",
               "ORIGINAL UPB","ORIGINAL LOAN-TO-VALUE","ORIGINAL INTEREST RATE","CHANNE","PREPAYMENT PENALTY MORTGAGE FLAG",
               "PRODUCT TYPE","PROPERTY STATE","PROPERTY TYPE","POSTAL CODE","LOAN SEQUENCE NUMBER","LOAN PURPOSE",
               "ORIGINAL LOAN TERM","NUMBER OF BORROWERS","SELLER NAME","SERVICER NAME","SUPER CONFORMING FLAG"
                #,"Pre-HARP LOAN SEQUENCE NUMBER"
                ]
data.head()

,CREDIT SCORE,FIRST PAYMENT DATE,FIRST TIME HOMEBUYER FLAG,MATURITY DATE,METROPOLITAN STATISTICAL AREA,MORTGAGE INSURANCE PERCENTAGE,NUMBER OF UNITS,OCCUPANCY STATUS,ORIGINAL COMBINED LOAN-TO-VALU,ORIGINAL DEBT-TO-INCOME (DTI) RATIO,ORIGINAL UPB,ORIGINAL LOAN-TO-VALUE,ORIGINAL INTEREST RATE,CHANNE,PREPAYMENT PENALTY MORTGAGE FLAG,PRODUCT TYPE,PROPERTY STATE,PROPERTY TYPE,POSTAL CODE,LOAN SEQUENCE NUMBER,LOAN PURPOSE,ORIGINAL LOAN TERM,NUMBER OF BORROWERS,SELLER NAME,SERVICER NAME,SUPER CONFORMING FLAG
0,699,200505,N,203504,39300.0,0,1,P,56,42,190000,56,5.625,R,N,FRM,RI,SF,2800.0,F105Q1000001,C,360,2,Other sellers,USBANKNA,NaN
1,691,200504,N,203503,36420.0,25,1,P,90,36,90000,90,5.750,R,N,FRM,OK,SF,73000.0,F105Q1000002,N,360,1,Other sellers,Other servicers,NaN
2,713,200503,N,203502,28740.0,0,1,P,72,45,357000,72,6.000,R,N,FRM,NY,SF,12500.0,F105Q1000003,P,360,2,Other sellers,Other servicers,NaN
3,719,200505,N,203504,NaN,0,1,S,85,47,195000,68,5.750,R,N,FRM,MO,CO,65000.0,F105Q1000004,P,360,2,Other sellers,USBANKNA,NaN
4,656,200503,N,203502,40340.0,0,1,P,68,30,253000,68,5.625,R,N,FRM,MN,SF,55900.0,F105Q1000005,C,360,2,Other sellers,Other servicers,NaN

In [4]:
def preprocessing(data):
    data['POSTAL CODE'].fillna(85200.0,inplace=True)
    data['PREPAYMENT PENALTY MORTGAGE FLAG'].fillna('N',inplace=True)
    data['METROPOLITAN STATISTICAL AREA'].fillna(16974.0,inplace=True)
    data.drop(['SUPER CONFORMING FLAG'],axis=1,inplace=True)
    data['CREDIT SCORE'].replace(to_replace=9999, value=np.nan, inplace=True)
    data['CREDIT SCORE'].fillna((data['CREDIT SCORE'].mean()), inplace=True)
    data['FIRST TIME HOMEBUYER FLAG'].replace(to_replace='9', value=np.nan, inplace=True)
    data['FIRST TIME HOMEBUYER FLAG'].fillna('N', inplace=True)
    data['Maturity_year'] =  [int(str(d)[:4]) for d in data['MATURITY DATE']]
    del data['MATURITY DATE']
    data['MORTGAGE INSURANCE PERCENTAGE'].replace(to_replace=999,value=0,inplace=True)
    data['NUMBER OF UNITS'].replace(to_replace=99,value=1,inplace=True)

    data['ORIGINAL COMBINED LOAN-TO-VALU'].replace(to_replace=999,value=80,inplace=True)

    data['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].replace(to_replace=999,value=float('nan'),inplace=True)
    data['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].fillna(data['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].mean(),inplace=True)

    data['ORIGINAL LOAN-TO-VALUE'].replace(to_replace=999,value=float('nan'),inplace=True)
    data['ORIGINAL LOAN-TO-VALUE'].fillna(data['ORIGINAL LOAN-TO-VALUE'].mean(),inplace=True)

    data.drop('PRODUCT TYPE',axis=1,inplace=True)
    data.drop('LOAN SEQUENCE NUMBER',axis=1,inplace=True)

    data['PROPERTY TYPE'].replace(to_replace=99,value='SF',inplace=True)
    data['LOAN PURPOSE'].replace(to_replace=9,value='C',inplace=True)
    data['NUMBER OF BORROWERS'].replace(to_replace=99,value=2,inplace=True)

    del data['FIRST PAYMENT DATE']

    data.drop('ORIGINAL LOAN-TO-VALUE',axis=1,inplace=True)
    data.drop('Maturity_year',axis=1,inplace=True)

    #dictionary for each column
    cleanup_nums = {"FIRST TIME HOMEBUYER FLAG":{"Y": 1, "N": 0},
                "OCCUPANCY STATUS": {"P": 1, "S": 2, "I": 3 },
                "CHANNE":{"T": 1, "R":2,"C":3,"B":4},
                "PREPAYMENT PENALTY MORTGAGE FLAG":{"Y":1,"N":0},
                "PROPERTY TYPE":{"SF":1,"PU":2,"CO":3,"MH":4,"CP":5,"99":99},
                "LOAN PURPOSE":{"C":1,"P":2,"N":3},
                "SELLER NAME":{"Other sellers": 0, "COUNTRYWIDE": 1, "TAYLOR,BEAN&WHITAKER": 2, "PROVIDENTFUNDINGASSO": 3, "USBANKNA": 4, "FIFTHTHIRDBANK": 5, "ABNAMROMTGEGROUP,INC": 6, "CHASEHOMEFINANCELLC": 7, "NATLCITYMTGECO": 8, "WELLSFARGOBANK,NA": 9, "GMACMTGECORP": 10, "WASHINGTONMUTUALBANK": 11, "FLAGSTARBANK,FSB": 12, "BANKOFAMERICA,NA": 13},
                "PREPAYMENT PENALTY MORTGAGE FLAG":{"Y": 1, "N": 0},
                "PROPERTY STATE":{"RI": 0, "OK": 1, "NY": 2, "MO": 3, "MN": 4, "IL": 5, "KY": 6, "WA": 7, "TX": 8, "FL": 9, "CA": 10, "IN": 11, "NJ": 12, "ID": 13, "TN": 14, "KS": 15, "MI": 16, "IA": 17, "MT": 18, "GA": 19, "OH": 20, "OR": 21, "ME": 22, "CT": 23, "WV": 24, "NH": 25, "VA": 26, "NC": 27, "AZ": 28, "NE": 29, "MD": 30, "MA": 31, "UT": 32, "CO": 33, "ND": 34, "PA": 35, "SC": 36, "DE": 37, "SD": 38, "WI": 39, "AL": 40, "AK": 41, "VT": 42, "LA": 43, "AR": 44, "NM": 45, "HI": 46, "DC": 47, "MS": 48, "NV": 49, "GU": 50, "WY": 51, "PR": 52, "VI": 53},
                "SERVICER NAME":{"USBANKNA": 0, "Other servicers": 1, "PNCMTGESERVICES,INC": 2, "WELLSFARGOBANK,NA": 3, "WASHINGTONMUTUALBANK": 4, "PNCBANK,NATL": 5, "NATLCITYMTGECO": 6, "JPMORGANCHASEBANK,NA": 7, "NATIONSTARMTGELLCDBA": 8, "COUNTRYWIDE": 9, "BANKOFAMERICA,NA": 10, "BACHOMELOANSERVICING": 11, "CITIMORTGAGE,INC": 12, "PROVIDENTFUNDINGASSO": 13, "ABNAMROMTGEGROUP,INC": 14, "FIFTHTHIRDBANK": 15, "GMACMORTGAGE,LLC": 16},
                "OCCUPANCY STATUS":{"P": 1, "S": 2, "I": 3 },
                "CHANNE":{"T": 1, "R":2,"C":3,"B":4}  
               }
    data.replace(cleanup_nums, inplace=True)
    
    #d_seller = {"Other sellers": 0, "COUNTRYWIDE": 1, "TAYLOR,BEAN&WHITAKER": 2, "PROVIDENTFUNDINGASSO": 3, "USBANKNA": 4, "FIFTHTHIRDBANK": 5, "ABNAMROMTGEGROUP,INC": 6, "CHASEHOMEFINANCELLC": 7, "NATLCITYMTGECO": 8, "WELLSFARGOBANK,NA": 9, "GMACMTGECORP": 10, "WASHINGTONMUTUALBANK": 11, "FLAGSTARBANK,FSB": 12, "BANKOFAMERICA,NA": 13}
    #d_service  = {"USBANKNA": 0, "Other servicers": 1, "PNCMTGESERVICES,INC": 2, "WELLSFARGOBANK,NA": 3, "WASHINGTONMUTUALBANK": 4, "PNCBANK,NATL": 5, "NATLCITYMTGECO": 6, "JPMORGANCHASEBANK,NA": 7, "NATIONSTARMTGELLCDBA": 8, "COUNTRYWIDE": 9, "BANKOFAMERICA,NA": 10, "BACHOMELOANSERVICING": 11, "CITIMORTGAGE,INC": 12, "PROVIDENTFUNDINGASSO": 13, "ABNAMROMTGEGROUP,INC": 14, "FIFTHTHIRDBANK": 15, "GMACMORTGAGE,LLC": 16}
    #d_seller.setdefault(data["SELLER NAME"], default=0)
    #d_service.setdefault(data["SERVICER NAME"], default=0)
    
    
    for i in range(len(data['SELLER NAME'])):
        if (not(str(data['SELLER NAME'][i]).isdigit())):
            data['SELLER NAME'][i]=0
    for i in range(len(data['SERVICER NAME'])):
        if (not(str(data['SERVICER NAME'][i]).isdigit())):
            data['SERVICER NAME'][i]=1           
    return data

In [5]:
data=preprocessing(data)

In [37]:
type(data['SERVICER NAME'][1]) is np.int64

True

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351634 entries, 0 to 351633
Data columns (total 20 columns):
CREDIT SCORE                           351634 non-null float64
FIRST TIME HOMEBUYER FLAG              351634 non-null int64
METROPOLITAN STATISTICAL AREA          351634 non-null float64
MORTGAGE INSURANCE PERCENTAGE          351634 non-null int64
NUMBER OF UNITS                        351634 non-null int64
OCCUPANCY STATUS                       351634 non-null int64
ORIGINAL COMBINED LOAN-TO-VALU         351634 non-null int64
ORIGINAL DEBT-TO-INCOME (DTI) RATIO    351634 non-null float64
ORIGINAL UPB                           351634 non-null int64
ORIGINAL INTEREST RATE                 351634 non-null float64
CHANNE                                 351634 non-null int64
PREPAYMENT PENALTY MORTGAGE FLAG       351634 non-null int64
PROPERTY STATE                         351634 non-null int64
PROPERTY TYPE                          351634 non-null int64
POSTAL CODE                            351634 non-null float64
LOAN PURPOSE                           351634 non-null int64
ORIGINAL LOAN TERM                     351634 non-null int64
NUMBER OF BORROWERS                    351634 non-null int64
SELLER NAME                            351634 non-null int64
SERVICER NAME                          351634 non-null int64
dtypes: float64(5), int64(15)
memory usage: 53.7 MB

In [7]:
data.head()

,CREDIT SCORE,FIRST TIME HOMEBUYER FLAG,METROPOLITAN STATISTICAL AREA,MORTGAGE INSURANCE PERCENTAGE,NUMBER OF UNITS,OCCUPANCY STATUS,ORIGINAL COMBINED LOAN-TO-VALU,ORIGINAL DEBT-TO-INCOME (DTI) RATIO,ORIGINAL UPB,ORIGINAL INTEREST RATE,CHANNE,PREPAYMENT PENALTY MORTGAGE FLAG,PROPERTY STATE,PROPERTY TYPE,POSTAL CODE,LOAN PURPOSE,ORIGINAL LOAN TERM,NUMBER OF BORROWERS,SELLER NAME,SERVICER NAME
0,699.0,0,39300.0,0,1,1,56,42.0,190000,5.625,2,0,0,1,2800.0,1,360,2,0,0
1,691.0,0,36420.0,25,1,1,90,36.0,90000,5.750,2,0,1,1,73000.0,3,360,1,0,1
2,713.0,0,28740.0,0,1,1,72,45.0,357000,6.000,2,0,2,1,12500.0,2,360,2,0,1
3,719.0,0,16974.0,0,1,2,85,47.0,195000,5.750,2,0,3,3,65000.0,2,360,2,0,0
4,656.0,0,40340.0,0,1,1,68,30.0,253000,5.625,2,0,4,1,55900.0,1,360,2,0,1

In [8]:
val = pd.read_csv("datapart2/historical_data1_Q22005.txt",sep="|",header=None)
val.columns = ["CREDIT SCORE","FIRST PAYMENT DATE","FIRST TIME HOMEBUYER FLAG","MATURITY DATE","METROPOLITAN STATISTICAL AREA",
               "MORTGAGE INSURANCE PERCENTAGE","NUMBER OF UNITS","OCCUPANCY STATUS","ORIGINAL COMBINED LOAN-TO-VALU","ORIGINAL DEBT-TO-INCOME (DTI) RATIO",
               "ORIGINAL UPB","ORIGINAL LOAN-TO-VALUE","ORIGINAL INTEREST RATE","CHANNE","PREPAYMENT PENALTY MORTGAGE FLAG",
               "PRODUCT TYPE","PROPERTY STATE","PROPERTY TYPE","POSTAL CODE","LOAN SEQUENCE NUMBER","LOAN PURPOSE",
               "ORIGINAL LOAN TERM","NUMBER OF BORROWERS","SELLER NAME","SERVICER NAME","SUPER CONFORMING FLAG"
                #,"Pre-HARP LOAN SEQUENCE NUMBER"
                ]
val.head()

,CREDIT SCORE,FIRST PAYMENT DATE,FIRST TIME HOMEBUYER FLAG,MATURITY DATE,METROPOLITAN STATISTICAL AREA,MORTGAGE INSURANCE PERCENTAGE,NUMBER OF UNITS,OCCUPANCY STATUS,ORIGINAL COMBINED LOAN-TO-VALU,ORIGINAL DEBT-TO-INCOME (DTI) RATIO,ORIGINAL UPB,ORIGINAL LOAN-TO-VALUE,ORIGINAL INTEREST RATE,CHANNE,PREPAYMENT PENALTY MORTGAGE FLAG,PRODUCT TYPE,PROPERTY STATE,PROPERTY TYPE,POSTAL CODE,LOAN SEQUENCE NUMBER,LOAN PURPOSE,ORIGINAL LOAN TERM,NUMBER OF BORROWERS,SELLER NAME,SERVICER NAME,SUPER CONFORMING FLAG
0,715,200508,N,203507,33700.0,0,1,P,58,41,214000,58,5.750,R,N,FRM,CA,SF,95300.0,F105Q2000001,C,360,2,Other sellers,"WELLSFARGOBANK,NA",NaN
1,743,200508,N,203507,NaN,0,1,P,80,36,340000,80,5.875,R,N,FRM,IL,SF,62400.0,F105Q2000002,N,360,2,Other sellers,"PNCMTGESERVICES,INC",NaN
2,772,200508,N,203507,37860.0,0,1,P,80,34,184000,80,5.500,R,N,FRM,FL,PU,32500.0,F105Q2000003,P,360,1,Other sellers,Other servicers,NaN
3,773,200507,N,203506,NaN,0,1,P,64,60,260000,64,5.875,R,N,FRM,MN,SF,56300.0,F105Q2000004,N,360,2,Other sellers,USBANKNA,NaN
4,647,200508,N,203507,NaN,30,1,P,91,28,170000,91,6.000,R,N,FRM,MI,SF,49200.0,F105Q2000005,N,360,1,Other sellers,Other servicers,NaN

In [9]:
val=preprocessing(val)

C:\Users\wenqi\Anaconda3\lib\site-packages\ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\wenqi\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405679 entries, 0 to 405678
Data columns (total 20 columns):
CREDIT SCORE                           405679 non-null float64
FIRST TIME HOMEBUYER FLAG              405679 non-null int64
METROPOLITAN STATISTICAL AREA          405679 non-null float64
MORTGAGE INSURANCE PERCENTAGE          405679 non-null int64
NUMBER OF UNITS                        405679 non-null int64
OCCUPANCY STATUS                       405679 non-null int64
ORIGINAL COMBINED LOAN-TO-VALU         405679 non-null int64
ORIGINAL DEBT-TO-INCOME (DTI) RATIO    405679 non-null float64
ORIGINAL UPB                           405679 non-null int64
ORIGINAL INTEREST RATE                 405679 non-null float64
CHANNE                                 405679 non-null int64
PREPAYMENT PENALTY MORTGAGE FLAG       405679 non-null int64
PROPERTY STATE                         405679 non-null int64
PROPERTY TYPE                          405679 non-null int64
POSTAL CODE                            405679 non-null float64
LOAN PURPOSE                           405679 non-null int64
ORIGINAL LOAN TERM                     405679 non-null int64
NUMBER OF BORROWERS                    405679 non-null int64
SELLER NAME                            405679 non-null object
SERVICER NAME                          405679 non-null object
dtypes: float64(5), int64(13), object(2)
memory usage: 61.9+ MB

In [11]:
val["SELLER NAME"].value_counts()

9     87433
0     64446
11    42319
7     42063
1     38506
6     34367
8     22091
4     18668
10    15275
13    13751
2     12114
5      5442
3      4816
12     4388
Name: SELLER NAME, dtype: int64

In [12]:
(train_x,train_y)=(data.drop('ORIGINAL INTEREST RATE',axis=1),data['ORIGINAL INTEREST RATE'])

In [13]:
(test_x,test_y)=(val.drop('ORIGINAL INTEREST RATE',axis=1),val['ORIGINAL INTEREST RATE'])

In [14]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [15]:
#Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
pred_y = lin_reg.predict(test_x)
print("Score for train: "+str(lin_reg.score(train_x,train_y)))
print("Score: "+str(lin_reg.score(test_x,test_y)))
print("RMS: "+str(sqrt(metrics.mean_squared_error(test_y,pred_y))))
print("MAPE: "+str(mean_absolute_percentage_error(test_y,pred_y)))
print("R2: "+str(metrics.r2_score(test_y,pred_y)))
print("MAE: "+str(metrics.mean_absolute_error(test_y,pred_y)))

Score for train: 0.3859683041751738
Score: 0.1564093827436709
RMS: 0.32200672051113916
MAPE: 4.206381090626703
R2: 0.1564093827436709
MAE: 0.24650081474948188

In [17]:
#Lasso
lasso= linear_model.Lasso()
lasso.fit(train_x, train_y)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [18]:
pred_y = lasso.predict(test_x)
print("Score for train: "+str(lasso.score(train_x,train_y)))
print("Score: "+str(lasso.score(test_x,test_y)))
print("RMS: "+str(sqrt(metrics.mean_squared_error(test_y,pred_y))))
print("MAPE: "+str(mean_absolute_percentage_error(test_y,pred_y)))
print("R2: "+str(metrics.r2_score(test_y,pred_y)))
print("MAE: "+str(metrics.mean_absolute_error(test_y,pred_y)))

Score for train: 0.32599145587251577
Score: 0.10417716818060818
RMS: 0.3318257838937045
MAPE: 4.271912138617848
R2: 0.10417716818060818
MAE: 0.2508994814134796

In [46]:
#RFE
dt_reg = DecisionTreeRegressor(max_depth=9)
min=0
for i in range(11,15):
    rfe = RFE(dt_reg,i)
    rfe = rfe.fit(train_x,train_y)
    pred_y = rfe.predict(test_x)
    score = rfe.score(test_x,test_y)
    print("Score for "+str(i)+" feature: "+str(score))
    if (score>min) :
        min = score
        best_rfe = rfe
pred_y = best_rfe.predict(test_x)
print("Score for train: "+str(best_rfe.score(train_x,train_y)))
print("Score: "+str(best_rfe.score(test_x,test_y)))
print("RMS: "+str(sqrt(metrics.mean_squared_error(test_y,pred_y))))
print("MAPE: "+str(mean_absolute_percentage_error(test_y,pred_y)))
print("R2: "+str(metrics.r2_score(test_y,pred_y)))
print("MAE: "+str(metrics.mean_absolute_error(test_y,pred_y)))

Score for 11 feature: 0.18516546181045057
Score for 12 feature: 0.18603890156246383
Score for 13 feature: 0.18605044758284506
Score for 14 feature: 0.18461609422518477
Score for train: 0.4475322140308414
Score: 0.18605044758284506
RMS: 0.3162989934121285
MAPE: 4.137061845408098
R2: 0.18605044758284506
MAE: 0.2422390399042987

In [47]:
print(best_rfe.support_)
print(best_rfe.ranking_)
train_x.iloc[:,pd.Series(best_rfe.support_).values].head()

[ True False False  True False  True  True False  True  True False  True
  True  True  True  True False  True  True]
[1 5 4 1 6 1 1 3 1 1 2 1 1 1 1 1 7 1 1]

,CREDIT SCORE,MORTGAGE INSURANCE PERCENTAGE,OCCUPANCY STATUS,ORIGINAL COMBINED LOAN-TO-VALU,ORIGINAL UPB,CHANNE,PROPERTY STATE,PROPERTY TYPE,POSTAL CODE,LOAN PURPOSE,ORIGINAL LOAN TERM,SELLER NAME,SERVICER NAME
0,699.0,0,1,56,190000,2,0,1,2800.0,1,360,0,0
1,691.0,25,1,90,90000,2,1,1,73000.0,3,360,0,1
2,713.0,0,1,72,357000,2,2,1,12500.0,2,360,0,1
3,719.0,0,2,85,195000,2,3,3,65000.0,2,360,0,0
4,656.0,0,1,68,253000,2,4,1,55900.0,1,360,0,1

In [ ]:
train_x=train_x[['CREDIT SCORE','MORTGAGE INSURANCE PERCENTAGE','OCCUPANCY STATUS','ORIGINAL COMBINED LOAN-TO-VALU'
,'ORIGINAL UPB','CHANNE','PROPERTY STATE','PROPERTY TYPE','POSTAL CODE'
,'LOAN PURPOSE','ORIGINAL LOAN TERM','SELLER NAME','SERVICER NAME']]

In [28]:
#random forest
rf_reg = RandomForestRegressor(max_depth=10,n_estimators=100,verbose=2,max_features=10)
rf_reg.fit(train_x,train_y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

building tree 1 of 100

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s

building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.0min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features=10, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=None, oob_score=False,
           random_state=None, verbose=2, warm_start=False)

In [29]:
pred_y = rf_reg.predict(test_x)
print("Score for train: "+str(rf_reg.score(train_x,train_y)))
print("Score: "+str(rf_reg.score(test_x,test_y)))
print("RMS: "+str(sqrt(metrics.mean_squared_error(test_y,pred_y))))
print("MAPE: "+str(mean_absolute_percentage_error(test_y,pred_y)))
print("R2: "+str(metrics.r2_score(test_y,pred_y)))
print("MAE: "+str(metrics.mean_absolute_error(test_y,pred_y)))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    2.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    2.4s finished

Score for train: 0.481952221873215

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    2.8s finished

Score: 0.22311544335255054
RMS: 0.30901339798539834
MAPE: 4.04750526176985
R2: 0.2231154433525505
MAE: 0.23707329284273554

In [34]:
#gradient boosting
gbm_reg = GradientBoostingRegressor(alpha=0.85, learning_rate=0.1, loss="huber", max_depth=10, max_features=0.7, min_samples_leaf=18, min_samples_split=19, n_estimators=100, subsample=0.4,verbose=2)
gbm_reg.fit(train_x,train_y)

      Iter       Train Loss      OOB Improve   Remaining Time
         1           0.0559           0.0046            6.23m
         2           0.0516           0.0045            5.71m
         3           0.0480           0.0037            5.26m
         4           0.0444           0.0031            5.16m
         5           0.0422           0.0025            5.13m
         6           0.0400           0.0021            5.09m
         7           0.0378           0.0018            4.99m
         8           0.0365           0.0014            4.88m
         9           0.0353           0.0012            4.86m
        10           0.0341           0.0009            4.79m
        11           0.0333           0.0008            4.73m
        12           0.0326           0.0007            4.68m
        13           0.0320           0.0006            4.63m
        14           0.0315           0.0005            4.56m
        15           0.0309           0.0004            4.50m
        16           0.0305           0.0004            4.43m
        17           0.0302           0.0003            4.39m
        18           0.0300           0.0003            4.33m
        19           0.0296           0.0002            4.25m
        20           0.0292           0.0002            4.18m
        21           0.0291           0.0002            4.10m
        22           0.0289           0.0002            4.02m
        23           0.0287           0.0002            3.94m
        24           0.0286           0.0001            3.89m
        25           0.0284           0.0001            3.85m
        26           0.0283           0.0001            3.77m
        27           0.0282           0.0001            3.73m
        28           0.0280           0.0001            3.65m
        29           0.0280           0.0001            3.57m
        30           0.0278           0.0001            3.52m
        31           0.0277           0.0001            3.47m
        32           0.0276           0.0001            3.40m
        33           0.0273           0.0001            3.34m
        34           0.0273           0.0001            3.26m
        35           0.0271           0.0001            3.20m
        36           0.0272           0.0001            3.15m
        37           0.0271           0.0001            3.08m
        38           0.0270           0.0001            3.03m
        39           0.0269           0.0001            2.97m
        40           0.0269           0.0000            2.89m
        41           0.0268           0.0000            2.83m
        42           0.0268           0.0000            2.78m
        43           0.0266           0.0001            2.73m
        44           0.0265           0.0000            2.68m
        45           0.0264           0.0000            2.63m
        46           0.0262           0.0000            2.56m
        47           0.0264           0.0000            2.52m
        48           0.0262           0.0000            2.46m
        49           0.0262           0.0000            2.41m
        50           0.0261           0.0001            2.36m
        51           0.0261           0.0000            2.30m
        52           0.0260           0.0000            2.27m
        53           0.0260           0.0001            2.22m
        54           0.0259           0.0000            2.17m
        55           0.0260           0.0000            2.11m
        56           0.0258           0.0000            2.06m
        57           0.0260           0.0000            2.01m
        58           0.0258           0.0000            1.96m
        59           0.0256           0.0000            1.92m
        60           0.0255           0.0000            1.86m
        61           0.0255           0.0000            1.82m
        62           0.0257           0.0000            1.76m
        63           0.0257           0.0000            1.72m
        64           0.0256           0.0000            1.67m
        65           0.0255           0.0000            1.62m
        66           0.0256           0.0000            1.57m
        67           0.0255           0.0000            1.52m
        68           0.0254           0.0000            1.48m
        69           0.0253           0.0000            1.43m
        70           0.0254           0.0000            1.38m
        71           0.0253           0.0000            1.33m
        72           0.0253           0.0000            1.30m
        73           0.0254           0.0000            1.24m
        74           0.0254           0.0000            1.20m
        75           0.0251           0.0000            1.15m
        76           0.0250           0.0000            1.10m
        77           0.0251           0.0000            1.05m
        78           0.0253           0.0000           59.97s
        79           0.0250           0.0000           57.04s
        80           0.0251           0.0000           54.35s
        81           0.0250           0.0000           51.45s
        82           0.0250           0.0000           48.65s
        83           0.0250           0.0000           45.71s
        84           0.0249           0.0000           42.79s
        85           0.0249           0.0000           39.93s
        86           0.0249           0.0000           37.22s
        87           0.0249           0.0000           34.41s
        88           0.0249           0.0000           31.66s
        89           0.0247           0.0000           29.00s
        90           0.0248           0.0000           26.36s
        91           0.0249           0.0000           23.69s
        92           0.0248           0.0000           21.10s
        93           0.0248           0.0000           18.35s
        94           0.0247           0.0000           15.74s
        95           0.0248           0.0000           13.12s
        96           0.0246           0.0000           10.48s
        97           0.0247           0.0000            7.83s
        98           0.0246           0.0000            5.22s
        99           0.0246           0.0000            2.60s
       100           0.0246           0.0000            0.00s

GradientBoostingRegressor(alpha=0.85, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='huber', max_depth=10,
             max_features=0.7, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=18, min_samples_split=19,
             min_weight_fraction_leaf=0.0, n_estimators=100,
             n_iter_no_change=None, presort='auto', random_state=None,
             subsample=0.4, tol=0.0001, validation_fraction=0.1, verbose=2,
             warm_start=False)

In [35]:
pred_y = gbm_reg.predict(test_x)
print("Score for train: "+str(gbm_reg.score(train_x,train_y)))
print("Score: "+str(gbm_reg.score(test_x,test_y)))
print("RMS: "+str(sqrt(metrics.mean_squared_error(test_y,pred_y))))
print("MAPE: "+str(mean_absolute_percentage_error(test_y,pred_y)))
print("R2: "+str(metrics.r2_score(test_y,pred_y)))
print("MAE: "+str(metrics.mean_absolute_error(test_y,pred_y)))

Score for train: 0.5672931999020937
Score: 0.25841258034940495
RMS: 0.3019119077097548
MAPE: 3.9586993244596016
R2: 0.25841258034940495
MAE: 0.23200347380111114

In [41]:
et_reg = ExtraTreesRegressor(max_depth=7, min_samples_leaf=1, min_samples_split=7, bootstrap=True, max_features=0.1, n_estimators=100)
et_reg.fit(train_x,train_y)

ExtraTreesRegressor(bootstrap=True, criterion='mse', max_depth=7,
          max_features=0.1, max_leaf_nodes=None, min_impurity_decrease=0.0,
          min_impurity_split=None, min_samples_leaf=1, min_samples_split=7,
          min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
          oob_score=False, random_state=None, verbose=0, warm_start=False)